header {
  display:flex;
  flex-direction: column;
  place-items:center;
  gap: 2em;
  width: 100%;
}

.brand_name {
  font-family: var(--ff-primary);
  font-size: var(--fs-title);
  font-weight: var(--fw-bold);
}
