@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding:0;
  font-family: 'Montserrat', sans-serif;
  width: 90vw;
  min-height: 100vh;
  max-width: 1200px;
}
/* General Layout */

.container {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 10rem 1fr 10rem;
  gap: 1rem 2rem;
  color: #4e5150;
}


.header {
  grid-column: 1/-1;
  height: 100%;
  display:flex;
  align-items: center;

}

.shipping {
  grid-row: 2/-1;
  grid-column: 2/-1;
  width: 100%;
  min-height: 40%;
  background: #f2f2f2;
  border-radius: 1rem;
  height: 40rem;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2rem;
  max-width: 500px;
}


.information {
  grid-row: 2/3;
  grid-column:1/2;
  display:flex;
  align-items: flex-start;
  margin-top:0;
  width: 75%;
  min-height: 90%;
  line-height: 2rem;
}

.hidden {
  display:none;
}

.overlay {
  position: fixed;
  background : rgba(0,0,0,0.5);
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.overlay:target {
  visibility: visible;
  opacity:1;
}

.popup {
  display:flex;
  flex-direction:column;
  justify-content: center;
  text-align:center;
  margin: 2rem auto;
  padding: 1rem;
  background :#fff;
  border-radius: 0.5rem;
  width: 40%;
  position:relative;
  color : #727272;
}

.popup .btnClose {
  background:#f2994a;
  color:#fff;
  border:none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 50%;
  margin-top: 1rem;
  align-self: center;
  font-weight:600;
  font-size:0.9rem;
}

.popup a {
  text-decoration: none;
  font-size:0.8rem;
}


footer {
  grid-row: 3/4;
  grid-column: 1/3;
  align-self: center;
  font-size: 0.8rem;
  color: #a9a9a9;
  justify-self: center;
}

/* Shipping  Items  Section */

.shipping .product_photo {
  width:10rem;
  border-radius: 1rem;
}

.shipping_products {
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  width: 90%;
  height: 40rem;
}

.product {
  display:flex;
  justify-content: space-between;
}

.product_details {
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}

.product_title {
  font-size:1rem;
  margin-bottom: 1rem;
  margin-left: 1em;
}

.product_discount,.product_price {
  font-weight: 600;
  margin-left: 1em;
}

.product_price {
  font-size: 0.8rem;
}

.product_discount {
  color :#f2994a;
}

.product_count{
  display:flex;
  justify-content: space-around;
  border :1px solid #828282;
  border-radius: 1.2rem;
  width: 10rem;
  height: 3rem;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 0.8em;
  align-items: center;
}

.icon-bg {
  background :#e0e0e0;
  border-radius: 0.3rem;
  color: #828282;
  cursor:pointer;
  font-size: 1rem;
}

.shipping_cost {
  color :#333333;
  font-weight: 600;
  font-size: 1rem;
}

.shipping_total {
  display :flex;  
  justify-content: space-between;
  border-top: 1px solid #bdbdbd;
  align-items:center;
  height: 5rem;
}
/* Information Section */

.contact {
  display:flex;
  flex-direction:column;
  justify-content: start;
  min-height: 90%;
  width: 100%;
  /* position:relative; */
}

.information_details {
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  height: 20%;
  margin-bottom: 2rem;
}

.form_label {
  position: relative;
  font-weight: 600;
  font-size:0.8rem;
}

.form_icon {
  position: absolute;
  font-size: 1.5rem;
  color : #828282;
  top: 2.8rem;
  left: 0.9rem;
}

.form_input {
  padding-left: 3rem;
  height: 3rem;
  font-size: 1rem;
  width: 100%;
  border: 1px solid #828282;
  border-radius: 0.5rem;
}

.information_address {
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}

#fullName {
  font-weight: 600;
}

.country_code{
  display:flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.country {
  display:flex;
  flex-direction: column;
  padding-right: 2rem;
}

.country_drop {
  position:relative;
}

.select_country {
  width:9rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: 1px solid #828282;
  font-family: 'Montserrat', sans-serif;
  font-size:0.8rem;
  font-weight: 600;
  color: #828282;
}

option {
  font-family: 'Montserrat', sans-serif;
  font-size:1rem;
}

.save {
  font-size:0.8rem;
  font-weight: 600;
  margin: 1rem 0;
}

/* Button */

.form_btn{
  position:relative;
  width: 100%;
}

.btn_input {
  background:#f2994a;
  color:#fff;
  border:none;
  border-radius: 0.8rem;
  padding: 1rem 3rem;
  transition:350ms;
  font-weight:600;
  font-size:0.9rem;
  position:absolute;
  right:0;
}

.btn_input:hover {
  cursor:pointer;
  transform: scale(1.05);
}

/* Footer */

/* Media Queries */

@media (max-width: 980px) {

  .country_code {
    flex-direction:column;
  }

  .country {
    width: 100%;
  }

  .select_country {
    width: 100%;
  }
  .country form_label{
    align-self:flex-start;
  }

}

@media  (max-width: 860px) {
  .container {
    display:unset;
    padding: 0 10rem;
    margin: 0 auto 10rem;    
  }

  .shipping {
    max-width: 100%;
  }
  
  .information {
    width: 100%;
  }

  .country_code {
    flex-direction:row;
  }

  .form_btn {
    position: unset;
    
  }

  .btn_input {
    margin-right: 3rem;
  }
  .footer {
    margin-top: 5rem;
    text-align:center;
  }

}

@media (max-width: 500px) {
  .container {
    display:unset;
    padding: 0 1rem;
  }
}