button,
.defaultBtn {
  font-family: inherit;
  width: 85px;
  height: 35px;
  background-color: #e0e0e0;
  border:none;
  border-radius: 6px;
  font-weight: 500;
  cursor:pointer;
  box-shadow: 0px 1px 2px #aeaeae;
  color : #455a64;
}

p{font-size:13px;}

.defaultBtn:hover,
.defaultBtn:focus {background-color: #aeaeae;}

.outline {
  border: 1px solid #3d5afe;
  background-color:transparent;
}

.primary {color :#3d5afe;}

.variantText,
.textDisabled {background-color:transparent;}

.outline:hover, 
.outline:focus{
  background-color: #2962ff1a;
}

.text.hoverEnabled{background-color : #2962ff1a;}

.primaryBtn {
  background-color: #3d5afe;
  color: #fff;
}

.primaryBtn:hover,
.primaryBtn:focus {background-color:#0039cb;}

.secondaryBtn {
  background-color: #455a64;
  color: #fff;
}

.secondaryBtn:hover,
.secondaryBtn:focus
{background-color: #1c313a;}

.dangerBtn {
  background-color: #d32f2f;
  color: #fff;
}

.dangerBtn:hover,
.dangerBtn:focus 
{background-color: #9a0007;}

.disableShadow{box-shadow: unset;}

button:disabled{cursor:not-allowed;}

.smSize{width:70px;}

.mdSize{
  width:85px;
  height: 40px;
}

.lgSize{
  width:100px;
  height: 45px;
}

.icon {
  display:flex;
  place-items:center;
  place-content:center;
  gap: 5px;
}

.material-icons {
  font-size: 1.2em;
}