*,
*::after,
*::before{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

/* ROOT */

:root {
  --primary-ff : 'Roboto', sans-serif;

  --fw-light:300;
  --fw-reg: 400;
  --fw-med: 500;
  --fw-bold: 700;
}

/* GENERAL */
body {
  font-family: var(--primary-ff);
  font-weight: var(--fw-light);
}

img {
  display:block;
  width:100%;
}

ul li {
  list-style: none;
}

#app {
  display:grid;
  padding: 2em;
}