@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body {
  box-sizing:border-box;
  margin:0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  display:flex;
  flex-direction:column;
  justify-content: space-around;
}

img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.profile{
  display:flex;
  flex-direction:column;
  margin: 1em;
  align-items: center;
}

.profilePhoto {
  width: 10rem;
}

.profile h2{
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #4e5150;
  margin: 1em 0 0 0.25em;
}

.profile p {
  font-size: 0.8rem;
  color: #a9a9a9;
  margin: 0;
}


.stats{
  display:flex;
  justify-content: center;
  gap: 1em;
  margin: 0.8em;
}

.blocks{
  flex: 1 1 0;
  text-align:center;
  background: #e5e5e5;
  border-radius: 0.75rem;
  padding: 0.5rem 2rem; 
}

.blocks p:nth-child(1) {
  color:#4e5150;
  font-size: 1.25rem;
}

.blocks p:nth-child(2){
  color: #bdbdbd;
  padding: 0.2rem;
  font-size:1rem;
}

.gallery{
  margin: 0 1em;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows:repeat(3,1fr);
  gap: 1em;
  grid-template-areas : 
        "img1 img2 img2"
        "img3 img3 img4"
        "img5 img6 img4"
}

.gallery-img{
  width: 100%;
  height: 100%;
  display:block;
}

.gallery-image1{grid-area:img1;}
.gallery-image2{grid-area:img2;}
.gallery-image3{grid-area:img3;}
.gallery-image4{grid-area:img4;}
.gallery-image5{grid-area:img6;}
.gallery-image6{grid-area:img5;}

footer {
  margin: 1em auto;
  font-size: 0.8rem;
  color: #a9a9a9;
}


/* media queries */

@media(max-width: 600px){

    .profilePhoto{
      width: 8rem;
    }

    .blocks{
      padding: 0.5rem 1rem; 
    }
    
    .blocks p:nth-child(1) {
      font-size: 1.1rem;
    }
    
    .blocks p:nth-child(2){
      padding: 0.1rem;
      font-size:0.8rem;
    }

    .gallery {
      gap:0.5rem;
    }

  }

  @media(max-width: 375px){
    .profile {
      margin-bottom:0;
    }
    .stats {
      margin-bottom:0;
    }

    .blocks {
      padding: 0.2rem 0.5rem;
      margin-bottom: 0;
    }

    .blocks p:nth-child(1) {
      font-size: 0.9rem;
    }
    
    .blocks p:nth-child(2){
      padding: 0.2rem;
      font-size:0.75rem;
    }

    .gallery {
      margin-top: 0;
      gap: 0.3em;
    }


  }